.MyProgress {
  display: block;
  .exceptional {
    background-color: rgb(8, 160, 69) !important;
    color: white;
  }
  .recommended {
    background-color: rgb(51, 101, 138) !important;
    color: white;
  }
  .meh {
    background-color: rgb(254, 234, 0) !important;
    color: black;
  }
  .skip {
    background-color: rgb(247, 23, 53) !important;
    color: black;
  }
}