.GameSingleView {
  display: block;
  .img-background {
    width: 96%;
    justify-self: center;
  }
  .ratings {
    h2 {
      color: rgba(255, 255, 255, 0.616)
    }
    h3 {
      color: rgba(255, 255, 255, 0.616)
    }
    margin: 20px;
    background-color: rgb(59, 65, 60);
    border: gray 3px solid;
    border-radius: 10px;
    box-shadow: rgb(87, 84, 84) 5px 5px 10px;
    .metacritic {
      width: 30px;
    }
    .reddit-logo {
      font-size: 50px;
    }
  }
}